@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@keyframes keyframe-pop-in {
  from {
    width: 0; }
  to {
    width: 50px; } }

@keyframes keyframe-rotation {
  0%, 100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-15deg); }
  75% {
    transform: rotate(15deg); } }
