.home {
    display: flex;
    width: 1440px;
    align-items: flex-start;
    gap: 60px;
    padding: 0 60px
}

.left-dashboard {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}

.right-dashboard {
    display: flex;
    width: 430px;
    padding: 30px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
}

.center-button-showcase {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: rgba(15, 18, 17, 0.8);
    color: #E2E2E2;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.center-button-showcase:hover {
    background: rgba(15, 18, 17, 0.95);
}



.banquet {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p > a {
    display: contents;
    color: #7fffd4;
}

p:hover > a:hover {
    text-decoration: underline;
}

.banquet > p, .banquet > ul {
    margin: 0;
}

.popular-maps-block {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.popular-maps-grid {
    display: inline-grid;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 16px;
}