@model osb.ViewModels.LearnViewModel
@{
    ViewData["Title"] = "Learn!";
}
<link rel="stylesheet" href="/static/base/learn.css">
<header class="opening-banner-learn"><h1 class="display opening-header">Learning &amp; Resources</h1><div class="bae-learn"></div></header>
<div style="padding-bottom:5px;" class="osb-content">
    @Html.Raw(Model.indexTest)
</div>
<!--Testing class assignment on load-->
<script>
    $(document).ready(function () {
        $('.osb-content>h1').addClass('col-xs-12 special-banner-3 top-header');
    });
</script>
