#loading {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../../staticV2/img/noice.png), #1C201E;
    backdrop-filter: blur(10px);
    z-index: 1001;
    justify-content: center;
    align-items: center;
}

.square {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: var(--random-color);
    animation: scaleAnim var(--animation-duration) infinite alternate;
}

@keyframes scaleAnim {
    0% {
        background: rgba(255, 255, 255, 0);
        opacity: 0;
        transform: scale(0.9);
        border-radius: 60px;
    }
    100% {
        opacity: 1;
        transform: scale(1.4);
        rotate: y 180deg;
        border-radius: 10px;
    }
}

/* Генерация рандомного цвета */
.square:nth-child(1) {
    --random-color: #7FFFD4;
}

.square:nth-child(2) {
    --random-color: #1c9d71;
}

.square:nth-child(3) {
    --random-color: #7FFFD4;
}

pre {
    overflow: auto !important;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 !important;
}

p {
    color: #DADAEE;
    margin: 7px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

ul {
    color: #DADAEE;
}

code {
    color: #fc8338;
}

.token.boolean, .token.number {
    color: #e6db74 !important;
}

a {
    color: #7FFFD4;
    text-decoration: underline;
}

h1 {
    color: #fff;
    margin: 20px 0 5px 0;
}

h2 {
    color: #ececec;
    margin: 10px 0;
}

h3 {
    color: #e0e0e0;
    margin: 10px 0 2px 0;
}

span.token.operator {
    color: #ff6d4c;
}

blockquote {
    background: #00000014;
    text-align: center;
    font-size: 12px;
    border-radius: 100px;
    padding: 0 20px;
}

.logo-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0 40px;
    gap: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 5px;
    width: 100%;
    border: 2px solid #2C2C35;
    border-right-width: 0;
    border-left-width: 0;
}

.osb-laboratory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.subtheme.active {
    color: #fff;
    border-radius: 5px;
    background: url(../../staticV2/img/noice.png), 0% 0% / 100px 100px repeat, #466057;

    & > svg {
        position: absolute;
        right: 2px;
    }

    & * path {
        fill: currentColor;
    }

    &:hover {
        background: #3f524d;
        & > svg {
            rotate: 0deg;
        }
    }
}

.subtheme.active > img {
    opacity: 1;
}


.doc-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.theme-path {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
}


.theme-name {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: #8CAA9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
}

.button-list {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: stretch;
    color: #BBD8CD;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.2s ease-in-out;
}

.button-list:hover {
    background: rgba(15, 18, 17, 0.5);
}

svg {
    transition: all 0.2s ease-in-out;
}

.subtheme {
    /* identical to box height */
    position: relative;
    cursor: pointer;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    color: white;
    border-radius: 5px;
    border: 0;
    background: transparent;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
        background: rgba(151, 185, 179, 0.08);

        & > svg {
            rotate: 45deg;
            padding: 0 4px;
        }
    }
}

.subtheme > img {
    opacity: 0;
}

.subtheme-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 5px;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.laboratory-test {
    display: flex;
    gap: 0;
    padding: 60px;
    flex-direction: column;
}

.laboratory-test * img {
    width: 100%;
}

.code-container, note {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    margin: 7px 0;
    gap: 15px;
    background: url(../../staticV2/img/noice.png), #232927;
    border: 1px solid #354D48;
    color: #f8f8f2;
    box-shadow: 0 0 219px rgba(59, 52, 77, 0.16), 0 0 15px #2d51451f;
    border-radius: 10px;
    user-select: none;
    overflow: auto;
    justify-content: flex-start;
}

.svg-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.svg-icon > img {
    width: 24px;
}

.copy-button {
    cursor: copy;
    position: absolute;
    right: -14px;
    top: -14px;
    height: auto;
    width: 62px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 24px 12px 12px;
    gap: 10px;
    background: url(../../staticV2/img/noice.png), #232927;
    border: 1px solid #354D48;
    box-shadow: 0 0 219px rgba(59, 52, 77, 0.16), 0 0 15px #2d51451f;
    border-radius: 10px;
    transition: all 0.4s;
}

.edit {
    position: fixed;
    right: -30px;
    width: 60px;
    top: 65px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    border: 1px solid #354D48;
    background: url(../../staticV2/img/noice.png), #171b19;
    color: #f8f8f2;
    box-shadow: 0 0 219px rgba(59, 52, 77, 0.16), 0 0 15px #2d51451f;
    border-radius: 10px;
    transition: all 0.4s;
}

.copy-button:hover, .edit:hover {
    background: url(../../staticV2/img/noice.png), #2a3531;
}

.copy-button:active, .edit:active {
    background: url(../../staticV2/img/noice.png), #212824;
    scale: 0.9;
}

.progress-container {
    border: 5px solid transparent;
    margin: -7px;
    left: 0;
    top: 0;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 3px;
}

.progress-bar {
    height: 3px;
    border-radius: 10px;
    background: linear-gradient(90deg, #72AF9900 0%, #72AF99 100%);
    width: 0;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.progress-indicator {
    pointer-events: none;
    width: 6px;
    height: 17px;
    border-radius: 10px;
    background: #87D8BB;
    box-shadow: 0 0 219px rgba(59, 52, 77, 0.16), 0 0 15px rgba(0, 0, 0, 0.25);
    position: absolute;
    outline: 1px solid #0006;
    top: -7px;
    display: none;
}

.code-container {
    padding-bottom: 0;
}