.media {
  background-color: #22282a; }

.profile-header {
  flex-direction: row;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #24222a; }

.profile-info {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  padding: 20px 10px;
  padding-left: 10px;
  display: flex;
  color: #fff;
  flex: none;
  width: 100%;
  position: relative; }

.profile-avatar {
  transform: translateZ(0);
  flex: none;
  width: 120px;
  height: 120px;
  border-radius: 25%;
  overflow: hidden; }

.avatar {
  outline: none;
  border: none;
  padding: 0;
  padding-bottom: 0px;
  margin: 0;
  background: none;
  background-color: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 70px;
  height: 70px;
  flex: none;
  background-color: #333;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block; }

.avatar--full {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-shadow: none; }

.profile-info-details {
  padding-left: 10px;
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  position: relative; }

.profile-info-name {
  align-self: flex-start;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  max-width: 100%;
  display: flex;
  position: relative; }

.u-ellipsis-pre-overflow {
  white-space: pre !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important; }

.profile-info-icon-group {
  display: flex;
  justify-content: space-between;
  margin-top: auto; }

.profile-info-icons {
  display: flex;
  margin: -2px;
  flex-wrap: wrap;
  align-items: flex-end; }

.profile-info-icons-country {
  margin: 0; }

.profile-info-country {
  height: 30px;
  display: flex;
  align-items: center; }

.profile-info-country-text {
  display: block; }

@media (min-width: 900px) {
  .profile-info {
    align-self: flex-start;
    padding-left: 50px;
    flex: 1;
    width: auto;
    min-width: 0; }
  .profile-info-icon-group {
    flex-direction: column;
    justify-content: flex-start; }
  .profile-info-icons-country {
    margin-top: 10px; }
  .profile-info-country {
    border-top: 2px solid;
    padding-top: 5px;
    height: 27px; } }
