/*@media screen and (max-width: 1005px) {*/

/*    !* .home {*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*        padding: 40px 5px;*/
/*        gap: 40px;*/
/*    }  *!*/
/*    .showcase-main {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*    */
/*    .detail-block, .showcase-main {*/
/*        padding-left: 10px;*/
/*        padding-right: 10px;*/
/*    }*/

/*    .search-container-flex {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/
/*    */
/*    .custom-select {*/
/*        position: relative;*/
/*        width: 100%;*/
/*    }*/

/*    .teg-select {*/
/*        width: 100%;*/
/*    }*/
/*}*/

@media (max-width: 1250px) {
}

@media (max-width: 1024px) {
    .detail-right {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: column-reverse;
    }

    .detail-info {
        align-items: flex-start;
    }
}

@media (max-width: 750px) {
    .thumbnails-container {
        height: 428px;
        flex-direction: column;
        order: 1
    }

    .small-thumbnails {
        gap: 10px;
        height: 100%;
        width: 100%;
        flex-direction: row;
        order: 2
    }

    .detail-more-info {
        flex-direction: column;
        order: 3
    }

    .description-storyboard {
        width: 100%;
    }

    .dot {
        width: 100%;
        height: auto;
    }

    .search-container-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .teg-select {
        width: 100%;
    }

    .custom-select {
        width: 100%;
        padding: 5px 5px;
        border-radius: 8px;;
        background: rgba(0, 0, 0, 0.2);
    }

    .form-group {
        width: 100%;
    }
}

@media (max-width: 581px) {
    .storyboarder-avatar {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
}

@media (max-width: 560px) {
    .detail-mini {
        margin-top: 10px;
    }

    .detail-right {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .detail-block {
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        gap: 20px;
    }

    .detail-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }
}