.showcase-main {
    display: inline-grid;
    padding: 30px 60px;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
}

.showcase-search {
    display: flex;
    padding: 30px 60px 0;
    flex-direction: column;
    gap: 20px;
}

.showcase-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*!* form search *!*/

.form-search, .teg-select {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 15px;
}

.teg-select {
    width: fit-content;
}

.form-group {
    display: flex;
    width: 400px;
    height: 36px;
}

.form-control {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    border: 0;
    transition: all 0.4s;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #809A92;
}

.form-control:focus {
    padding: 0 0 0 45px;
    outline: none;
    color: #c2d0cc;
}

.custom-select {
    position: relative;
    min-width: max-content;
    width: 220px;
}

.select-trigger {
    justify-content: flex-end;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    gap: 10px;
    color: #FFFFFF;
}

.select-trigger:hover {
    color: #dedede;
}

.select-options {
    position: absolute;
    top: 100%;
    height: calc(100% + 25vh);
    overflow-y: scroll;
    left: 0;
    z-index: 1007;
    display: none;
    width: 100%;
    margin-top: 8px;
    border: 0;
    cursor: pointer;
    background: url(../../staticV2/img/noice.png), #1d2221;
    border-radius: 2px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    outline: 1px solid #0f1211;
}

.form-search > img {
    position: absolute;
    left: 10px;
    pointer-events: none;
}

.option-case > img {
    position: absolute;
    right: 8px;
    width: 34px;
}

.option {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    width: -webkit-fill-available;
}

.option-case {

    display: flex;

    width: 100%;

    align-items: center;
}

.option:hover {
    background: url(../../staticV2/img/noice.png), rgba(129, 255, 197, 0.18);
    font-weight: 900;
    color: rgb(129 255 197 / 87%);
}

.option.active {
    background: url(../../staticV2/img/noice.png), rgb(57 114 95 / 9%);
    color: rgb(129 255 197 / 87%);
}

.show {
    display: block;
}

/**/
