@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A delightful feast of visual arts made by passionate osu! players! Learn programming through making storyboards!">
    <meta name="keywords" content="osb, osu, storyboard, programming, art, hifumi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500 | osu! Storyboarder Banquet</title>
    <link rel="icon" type="image/x-icon" href="/static/base/img/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base/main.css">
    <link rel="stylesheet" href="/static/base/banner.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f344ebe01e.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-inverse">
        <a href="/" class="navbar-brand">
            <img src="/static/base/img/osboutline.png" alt="..." height="56">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#osb-navbar" aria-controls="#osb-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="osb-navbar">
            <ul class="nav navbar-nav">
                <li class="nav-item" id="navbar-special-1">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" id="navbar-special-2">
                    <a class="nav-link" href="/showcase">Showcase</a>
                </li>
                <li class="nav-item" id="navbar-special-3">
                    <a class="nav-link" href="/learn">Learn</a>
                </li>
                <li class="nav-item" id="navbar-special-4">
                    <a class="nav-link" href="/community">Community</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <header class="opening-banner-community"><h1 class="display opening-header">500 Internal Server Error!</h1><div class="bae-showcase"></div></header>

        <h1 class="special-banner-1 top-header">Bollocks!</h1>
        <img class="d-block mx-auto" src="/static/base/img/hifumi_scramble.gif" alt="A flustered Hifumi!">
        <p>Oh dear. Something broke, and you've reached this page as you've hit some internal error or bug that just frolicked itself upon here. A bit awkward either way. You should contact Mamat with what you were doing to get here so we could get that fixed up and doodly. But have a random storyboard button. The girls LOVE random storyboard buttons.</p>
        <p style="padding-bottom:10px"><a class="btn btg-lg btn-primary" href="/">Take Me Away!</a></p>
    </div>

    <footer class="footer">
        <div class="osu-cookie d-block mx-auto"></div>
        <p class="small">Powered with <span title="Hifumi's Love!">❤</span></p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/bootstrap.min.js"></script>
</body>
</html>


