.discord-join {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.community-block {
    display: flex;
    padding: 30px 60px;
    flex-direction: column;
    gap: 20px;
}

.left-discord-banquet {
    display: flex;
    gap: 14px;
    align-items: center;
}

.left-discord-banquet > img {
    width: 50px;
}

.description-community {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-description {
    color: #E2E2E2;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-description {
    color: #E2E2E2;
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.community-grid {
    display: inline-grid;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
}

.user-card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 90px;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #36423C;
    overflow: hidden;
    transition: all 0.4s;
}

.user-card:hover {
    border: 1px solid #688676;
}

.user-card:hover > .user-card-info {
    height: 100%;
    padding: 0 8px;
}

.user-card:hover * .user-image {
    width: 48px;
    height: 48px;
}

.user-card-info {
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: center;
    width: -webkit-fill-available;
    height: 40%;
    padding: 8px;
    gap: 8px;
    background: rgba(32, 37, 34, 0.90);
    transition: all 0.4s;
}

.user-background {
    height: 100%;
    width: 100%;
}

.user-name {
    height: 16px;
    align-self: stretch;

    overflow: hidden;
    color: #FFF;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-role {
    color: #64E9BF;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.user-image {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 39px;
    transition: all 0.4s;
}

.country-user {
    width: 32px;
    min-width: 32px;
    border-radius: 4px;
    overflow: hidden;
    outline: 1px solid #1c201e;
    margin-left: auto;
    margin-right: 20px;
}