@media (max-width: 1250px) {
    .community-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 13px;
    }
}

@media (max-width: 1024px) {
    .community-grid {
        grid-template-columns: 1fr 1fr;
        gap: 13px;
    }
}

@media (max-width: 720px) {
    .community-grid {
        grid-template-columns: 1fr;
        gap: 13px;
    }
}

@media (max-width: 560px) {
    .community-grid {
        grid-template-columns: 1fr;
        gap: 13px;
    }

    .community-block {
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
        gap: 20px;
    }

    .discord-join {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }
}