.discord-banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 60px;
    gap: 95px;

    background: url(../../staticV2/img/noice.png), rgba(21, 24, 22, 0.8);
}

.user-card {
    z-index: 2434;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #354D48;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0 0 15px #354D48);
    border-radius: 10px;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.4s;
}

.user-avatar {
    width: 82px;
    height: 82px;
    border-radius: 20px;
    outline: 1px solid #354D48;
    transition: all 0.4s;
}

.user-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.4s;
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: -webkit-fill-available;
    gap: 4px 5px;
    padding: 40px 60px;
    grid-auto-flow: initial;
    transition: all 0.4s;
}

.grid > a {
    overflow: hidden;
    border-radius: 10px;
    z-index: 1022;
}

a:hover * .user-background {
    opacity: 0.7;
    bottom: 0;
}

a:hover * .card-role {
    opacity: 1;
}

a:hover * .card-text {
    color: #c3fff2;
}

a:hover * .country-text {
    color: #c3fff2;
}

a:hover * .user-card {
    border: 1px solid #57a998;
    filter: drop-shadow(0 0 25px #354D48);
}

a:hover * .user-avatar {
    border-radius: 40px;
}

.fix-background {
    position: relative;
    display: flex;
    width: 100%;
}

.background-noice, .background-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}

.background-noice {
    background: url(../../staticV2/img/noice.png);
}

.background-color {
    background: linear-gradient(0deg, rgb(44 54 51 / 28%), rgb(35 41 39 / 92%));
}

.country-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.country-container > img {
    border-radius: 4px;
    overflow: hidden;
}

.card-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    transition: all 0.4s;
}

.country-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    color: #93B7A5;
    transition: all 0.4s;
}

.card-role {
    padding: 3px 10px;
    gap: 10px;
    border-radius: 23px;
    opacity: 0.7;
    transition: all 0.4s;
}

.info-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 25px;
    transition: all 0.4s;
}

.user-info-conainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sort-roles {
    display: flex;
    position: absolute;
    right: 25px;
    top: 15px;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
}