@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>
        Home Page
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>osb! Home Page</h1>
</body>
</html>
