@{
    ViewData["Title"] = "osb! Home Page";
    Layout = "~/Views/Future/_Layout.cshtml";
}
<div class="overview-container fade">
    <div class="title">Osu! Storyboarder Banquet</div>
    <div class="overview-description">
        <p>
            Welcome to our lovely banquet! Care to dine in and whet your insatiable appetite for visual
            wizardry on osu!? You can get started by checking out <a href="/">
                storyboard
                showcase
            </a>, or gander at some up on the carousel above or on the YouTube
            player here. If you're here to learn how to storyboard and program, look no further than our
            <a href="/">learning resources</a>! And if you want to be a part of the
            storyboarding commmunity, <a href="/">click here to learn more</a>.
        </p>
    </div>
    <div class="overview-mascot"></div>
</div>
<div class="middle-content fade">
    <div class="middle-left-container">
        <div class="card slideshow-counteiner fade">
            <div class="my-slide fade">
                <div class="image-slide"
                     style="background-image: linear-gradient(180deg, rgba(51, 54, 53, 0.95) 0%, rgba(51, 54, 53, 0.7) 100%), url(.././staticV2/img/test.png);">
                </div>
                <div class="slide-map-info">
                    <a class="link slide-song-info" href="/">Simple Artist Name - Simple Song Name</a>
                    <div class="slide-storyb">
                        <span>Storyboarded by</span><a class="link" href="/">EvT</a>
                    </div>
                </div>
            </div>
            <div class="my-slide fade">
                <div class="image-slide"
                     style="background-image: linear-gradient(180deg, rgba(51, 54, 53, 0.95) 0%, rgba(51, 54, 53, 0.7) 100%), url(https://i.ytimg.com/vi/AaAF51Gwbxo/maxresdefault.jpg);">
                </div>
                <div class="slide-map-info">
                    <a class="link slide-song-info" href="/">WYSI</a>
                    <div class="slide-storyb">
                        <span>Storyboarded by</span><a class="link" href="/">Cookiezi</a>
                    </div>
                </div>
            </div>
            <div class="my-slide fade">
                <div class="image-slide"
                     style="background-image: linear-gradient(180deg, rgba(51, 54, 53, 0.95) 0%, rgba(51, 54, 53, 0.7) 100%), url(https://i.ytimg.com/vi/yX-ikZ135Xo/maxresdefault.jpg?7857057827);">
                </div>
                <div class="slide-map-info">
                    <a class="link slide-song-info" href="/">Yooooo</a>
                    <div class="slide-storyb">
                        <span>Storyboarded by</span><a class="link" href="/">BTMC</a>
                    </div>
                </div>
            </div>
            <div class="my-slide fade">
                <div class="image-slide"
                     style="background-image: linear-gradient(180deg, rgba(51, 54, 53, 0.95) 0%, rgba(51, 54, 53, 0.7) 100%), url(https://assets.ppy.sh/beatmaps/1588624/covers/cover@2x.jpg?1644089336);">
                </div>
                <div class="slide-map-info">
                    <a class="link slide-song-info" href="/">Yu-Peng Chen @@HOYO-MiX - The Stellar Moments</a>
                    <div class="slide-storyb">
                        <span>Storyboarded by</span><a class="link" href="/">Rizen</a><a class="link" href="/">Nitrous</a><a class="link" href="/">Hokichi</a>and<a class="link" href="/">Mamat</a>
                    </div>
                </div>
            </div>
            <div class="control-slide-container">
                <button class="arrow" onclick="posSlide(-1)"><img src="~/staticV2/svg/arrow-left.svg" alt=""></button>
                <div class="dots-container">
                    <div class="dot" onclick="currSlide(1)"></div>
                    <div class="dot" onclick="currSlide(2)"></div>
                    <div class="dot" onclick="currSlide(3)"></div>
                    <div class="dot" onclick="currSlide(4)"></div>
                </div>
                <button class="arrow" onclick="posSlide(1)"><img src="~/staticV2/svg/arrow-right.svg" alt=""></button>
            </div>
        </div>
        <div class="title-block">
            <div class="title">Most Recently Added Storyboards</div>
            <div class="list-content">
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/1060207/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/1060207/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Paramore - Still Into You (Sped Up & Cut Ver.)</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Slyk</a>, <a href="/">PantyDev</a>, <a href="/">freihy</a>, <a href="/">BowLL</a>, <a href="/">TheDuckMask</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 100</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Froskya</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="storyb-card-small"
                     style="background: linear-gradient(90deg, rgba(45, 49, 48, 0.95) 0%, #2D3130 100%), url(https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg);">
                    <a href="/">
                        <img class="card-img"
                             src="https://assets.ppy.sh/beatmaps/961320/covers/cover.jpg" alt="" srcset="">
                    </a>
                    <div class="info-content">
                        <div class="content-container">
                            <a class="card-name-song" href="/">Kuba Oms - All In All</a>
                            <p class="card-storyb">Storyboarded by <a href="/">Venix</a></p>
                        </div>
                        <div class="content-container">
                            <p class="card-osb-lvl">OSB LVL 95</p>
                            <p class="card-hosted">
                                Hosted by <a href="/">Venix</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-right-container">
        <div class="showcase-block">
            <div class="showcase-container">
                <div class="title">Showcase</div>
                <div class="now-play-title">
                    <p>
                        Now playing <a href="/"><strong>Video Name</strong></a>.
                    </p>
                </div>
            </div>
            <iframe width="560" height="278" src="https://www.youtube.com/embed/SbHLMX6T-1o?controls=0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
            </iframe>
        </div>
        <div class="title-block">
            <div class="title">Updates</div>
            <div class="list-content">
                <div class="update-post">
                    <div class="info-flex">
                        <div class="info-post">
                            <p class="name-post">Wow new update</p>
                            <p class="data-post">2022/03/04</p>
                        </div>
                        <p class="by-post">by <a class="user-post link">Mamat</a></p>
                    </div>
                    <p class="text-post">
                        Yay this web has implemented osu! account as single sign on :D . This
                        feature will enable you to submit your own storyboard for showcase in the future update!
                        I also have been working on designing the database so we can move on from dummy data to
                        actual running database.
                    </p>
                </div>
                <div class="update-post">
                    <div class="info-flex">
                        <div class="info-post">
                            <p class="name-post">Wow new update</p>
                            <p class="data-post">2022/01/21</p>
                        </div>
                        <p class="by-post">by <a class="user-post link">Mamat</a></p>
                    </div>
                    <p class="text-post">
                        Yay this web has implemented osu! account as single sign on :D. This
                        feature will enable you to submit your own storyboard for showcase in the future update!
                        I also have been working on designing the database so we can move on from dummy data to
                        actual running database.
                    </p>
                </div>
                <div class="update-post">
                    <div class="info-flex">
                        <div class="info-post">
                            <p class="name-post">Wow new update</p>
                            <p class="data-post">2021/12/26</p>
                        </div>
                        <p class="by-post">by <a class="user-post link">Mamat</a></p>
                    </div>
                    <p class="text-post">
                        Yes new updates! I've implemented storyboarder page and thanks to
                        Coppertine again for the design suggestion. I also have changed all existing
                        storyboarder URL to the page.
                    </p>
                    <p class="text-post">
                        Yay this web has implemented osu! account as single sign on :D . This
                        feature will enable you to submit your own storyboard for showcase in the future update!
                        I also have been working on designing the database so we can move on from dummy data to
                        actual running database.
                    </p>
                </div>
                <button class="load-button">Load More</button>
            </div>
        </div>
    </div>
</div>