@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>
        Test
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>When You See It</h1>
</body>
</html>
