@model osb.ViewModels.ShowcaseViewModel
@{
    ViewData["Title"] = "Storyboards";
}
<link rel="stylesheet" href="/static/base/sb.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.css">
<style>
    #text-search {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    #btn-search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .media {
        background-color: #22282a;
    }
</style>
<header class="opening-banner-sb">
    <h1 class="display opening-header">Storyboard Showcase</h1>
    <div class="bae-sb"></div>
</header>

<h1 class="special-banner-sub-2 top-header">Search</h1>

<form action="/showcase/search" method="get">
    <div class="form-group" style="margin:2em 0 1em; display: flex;">
        <input class="form-control form-control-lg" placeholder="type in keywords..." id="text-search" type="text" name="s" value="">
        <input class="btn btn-primary btn-lg" id="btn-search" type="submit" value="Search">
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-control-lg" type="checkbox" name="f" placeholder="off">
        <label class="form-check-label">Featured Storyboard</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-control-lg" type="checkbox" name="c" placeholder="off">
        <label class="form-check-label">Classic Storyboard</label>
    </div>
</form>

@*If Exist Print Row*@

<div class="card-group" style="justify-content:center">
    <div class="row mb-4">
        <div class="col-xs-12 col-sm-6 my-2">
            <div class="sb-card card">
                <div class="bg-inverse sb-card-header bottom-header" style="background-image: url('https://assets.ppy.sh/beatmaps/1524587/covers/card.jpg?1638959566'); ">
                    <a class="sb-card-thumb" href="https://osu.ppy.sh/beatmapsets/1524587" style="text-decoration:none">
                        <h4 class="card-title sb-card-title">American Girls (Sped Up & Cut Ver.)</h4>
                        <h6 class="card-subtitle sb-card-title">ONE OK ROCK</h6>
                    </a>
                </div>
                <div class="media">
                    <a class="media-left media-middle" href="https://osu.ppy.sh/beatmapsets/1524587" style="text-decoration:none">
                        <img class="media-object sb-card-image" src="https://assets.ppy.sh/beatmaps/1524587/covers/list.jpg" alt="American Girls (Sped Up & Cut Ver.)">
                    </a>
                    <div class="media-body text-white m-3">
                        <p class="card-text media-heading">
                            Storyboarded by
                            <a href="https://osu.ppy.sh/users/13340203">Paran</a>
                            <br>Mapped by Paran
                        </p>
                        <div class="sb-card-icons">
                            <span class="tag tag-pill tag-default"><i class="icon-csharp" aria-hidden="true"></i> C#</span>

                            <a href="https://osu.ppy.sh/s/1212965"><i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i></a>
                            <a href="https://osu.ppy.sh/d/1212965"><i class="fa fa-download fa-fw fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 my-2">
            <div class="sb-card card">
                <div class="bg-inverse sb-card-header bottom-header" style="background-image: url('https://assets.ppy.sh/beatmaps/1524587/covers/card.jpg?1638959566'); ">
                    <a class="sb-card-thumb" href="https://osu.ppy.sh/beatmapsets/1524587" style="text-decoration:none">
                        <h4 class="card-title sb-card-title">American Girls (Sped Up & Cut Ver.)</h4>
                        <h6 class="card-subtitle sb-card-title">ONE OK ROCK</h6>
                    </a>
                </div>
                <div class="media">
                    <a class="media-left media-middle" href="https://osu.ppy.sh/beatmapsets/1524587" style="text-decoration:none">
                        <img class="media-object sb-card-image" src="https://assets.ppy.sh/beatmaps/1524587/covers/list.jpg" alt="American Girls (Sped Up & Cut Ver.)">
                    </a>
                    <div class="media-body text-white m-3">
                        <p class="card-text media-heading">
                            Storyboarded by
                            <a href="https://osu.ppy.sh/users/13340203">Paran</a>
                            <br>Mapped by Paran
                        </p>
                        <div class="sb-card-icons">
                            <span class="tag tag-pill tag-default"><i class="icon-csharp" aria-hidden="true"></i> C#</span>

                            <a href="https://osu.ppy.sh/s/1212965"><i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i></a>
                            <a href="https://osu.ppy.sh/d/1212965"><i class="fa fa-download fa-fw fa-lg" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.js"></script>
<script src="/static/showcase/add-lightbox.js"></script>
<script>
    window.addEventListener('resize', function () {
        $('.sb-card').css('width', $('.container').css('max-width').replace('px', '') / 2 - 40 + 'px');
    });
    window.dispatchEvent(new Event('resize'));
</script>


