.showcase-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* position: fixed; */
    bottom: 0;
    top: 0;
    height: -webkit-fill-available;
    gap: 15px 15px;
    padding: 40px 60px;
    grid-auto-flow: initial;
    /* overflow: scroll; */
}