@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    align-items: flex-start;
    padding: 0;
    isolation: isolate;

    position: relative;

    background: url(../staticV2/img/noice.png), #1C201E;
}

main {
    z-index: 5;
    width: 100%;
    flex: 1 0 auto;
}

footer {
    height: 89px;
    z-index: 4;
    flex-shrink: 0;
}

nav {
    height: 66px;
}

a {
    display: flex;
}

a:-webkit-any-link {
    text-decoration: none;
}

.container-bar-style {
    z-index: 50;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 60px;
    gap: 15px;
    width: 100%;
    background: url(../staticV2/img/noice.png), rgba(28, 32, 30, 0.7);
    outline: 1px solid #2A302E;
}

.container-footer-bar-style {
    z-index: 50;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 60px;
    gap: 15px;
    width: 100%;
    background: url(../staticV2/img/noice.png), rgba(28, 32, 30, 0.7);
    outline: 1px solid #2A302E;
}

.splash {
    position: absolute;
    left: -50px;
    right: 0;
    top: -6vw;
    object-fit: cover;
    width: -webkit-fill-available;
}

.nav-button {
    color: white;
    border: 0;
    cursor: pointer;
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 5px 10px;
    transition: all 0.4s;
}

.nav-button:hover {
    color: rgb(200, 200, 200);
}

.container-nav-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.button-osb {
    cursor: pointer;
    border: 1px solid #64E9BF;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white;
    border-radius: 5px;
    padding: 6px 20px;
    transition: all 0.4s;
}

.button-osb:hover {
    background: #64e9bf33;
}

.osb-promo-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.promo {
    width: 155px;
    font-weight: 800;
    font-size: 16px;
    text-align: justify;
    color: #64E9BF;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.social-container > button {
    cursor: pointer;
}

.footer-button {
    display: flex;
    color: white;
    gap: 5px;
    border: 0;
    cursor: pointer;
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 5px 10px;
    transition: all 0.4s;
}

.footer-button:hover {
    color: rgb(200, 200, 200);
}

.change-language {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 14px;
    position: absolute;
    overflow-y: scroll;
    width: 388px;
    max-height: 270px;
    right: 30px;
    bottom: 100px;
    background: url(../staticV2/img/noice.png), #232927f7;
    border: 1px solid #354D48;
    box-shadow: 0 0 219px #64e9bf29, 0 0 15px #00000040;
    border-radius: 10px;
    transition: all 0.4s;
}

@keyframes example {
    0% {
        bottom: 0;
        scale: 0.7;
        opacity: 0;
    }

    100% {
        bottom: 100px;
        scale: 1;
        opacity: 1;
    }
}

@keyframes example-off {
    0% {
        bottom: 100px;
        scale: 1;
        opacity: 1;
    }

    100% {
        bottom: 0;
        scale: 0.7;
        opacity: 0;
    }
}

.change-language::-webkit-scrollbar {
    width: 0;
}

.change-language > button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 13px 20px;
    gap: 10px;

    border: 1px solid #00000000;
    border-radius: 10px;

    background: #00000000;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    cursor: pointer;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}

.change-language > .select {
    background: url(../staticV2/img/noice.png), rgba(35, 41, 39, 0.8);
    border: 1px solid #354D48;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.change-language > .select::before {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    height: 27px;
    width: 5px;
    border-radius: 15px 0 0 15px;
    background-color: #55CFB9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}


.change-language > button:hover {
    background: url(../staticV2/img/noice.png), #2b3330f6;
    border: 1px solid #354D48;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.change-language > button > img {
    width: 22px;
    height: 16px;
    border-radius: 4px;
}

.arrow-rotated {
    transform: rotate(180deg);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #dad6e1;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #dad6e1;
}