@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

:root {
    --background: #191919;
    --dark-minty-green: #2D3130;
    --dark-minty-green-hover: #353B39;
    /* #2D3130 */
    --dark-dark-light-minty-green: #90A9A3;
    --light-minty-green: #B8E1D7;
    /* #B8E1D7 */
    --minty-green: #61BCA6;
    --outline: #90A9A3;
    /* #61BCA6 */
}

body {
    color: var(--light-minty-green);
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--minty-green);
    text-decoration: none;
    display: contents;
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 2px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background: var(--minty-green);
}

.body-bg {
    position: absolute;
    width: 100%;
    height: 576px;
    background: linear-gradient(180deg, rgba(45, 49, 48, 0.835443) 0%, var(--background) 100%), url(.././staticV2/img/test.png);
    overflow-y: clip;
    filter: blur(5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mrg-body-cont {
    z-index: 10;
    gap: 30px;
    padding: 97px 60px 0 60px;
    display: flex;
    flex-direction: column;
    background: rgba(29, 32, 31, 0.7);
    transition: all 0s;
    position: relative;
}

.nav-bar {
    position: fixed;
    display: flex;
    margin: 0 60px;
    height: 41px;
    color: var(--dark-dark-light-minty-green);
    background: var(--dark-minty-green);
    border-radius: 0px 0px 10px 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 80px;
    gap: 20px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}

.nav-bar .logo {
    width: 45px;
}

.nav-active {
    height: 55px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 0 0;
    padding: 0px 60px;
    background: #2d3130fa;
    border-radius: 0;
    justify-content: space-between;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
    z-index: 1000;
}

.nav-active>.nav-user-container,
.nav-language-container {
    transform: translateX(-65%) translateY(35%);
}

.nav-active .logo {
    width: 40px;
}

.logo-osu {
    width: 45px;
}

.link {
    cursor: pointer;
    display: flex;
    color: var(--light-minty-green);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.nav-start-container {
    display: flex;
    gap: 30px;
}

.link-container {
    position: absolute;
    top: 32px;
    left: 0;
    background: var(--dark-minty-green-hover);
    border-radius: 5px;
    gap: 5px;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.link:hover {
    color: var(--minty-green);
}

.link-button {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    width: 150px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--light-minty-green);
}

.link-button:hover {
    text-decoration: none;
    background: #49524F;
}

.nav-user-container,
.nav-language-container,
.nav-search-container {
    display: none;
    position: absolute;
    padding: 5px;
    transform: translateX(-65%) translateY(37%);
    background: var(--dark-minty-green-hover);
    border-radius: 5px;
    gap: 5px;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.nav-language-container {
    width: 260px;
    transform: translateX(0%) translateY(69%);
}

.nav-search-container,
#search:hover~.nav-search-container {
    display: flex;
    top: 39px;
    width: 0px;
    height: 0px;
    padding: 0px;
    transform: translateX(0%) translateY(0%);
}

.search-container>input:focus~.nav-search-container,
.search-container>input:hover~.nav-search-container,
#search:focus~.nav-search-container {
    display: flex;
    top: 30px;
    width: 129px;
    height: 81px;
    padding: 5px;
    transform: translateX(0%) translateY(0%);
}

.nav-user-button,
.nav-user-logout,
.nav-language-button,
.nav-search-button {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--light-minty-green);
    justify-content: space-between;
}

.nav-user-logout {
    color: #E1B8B8;
}

.nav-language-button {
    width: 240px;
    gap: 10px;
}

.nav-search-button {
    width: 109px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.nav-search-button:hover {
    text-decoration: none;
    background: #49524F;
}

.nav-language-button>img {
    border-radius: 2px;
}

.nav-user-logout:hover {
    text-decoration: none;
    background: #524949;
}

.nav-user-button:hover {
    text-decoration: none;
    background: #49524F;
}

.nav-language-button:hover {
    text-decoration: none;
    background: #49524F;
}

.language-text {
    width: 100%;
    text-align: start;
}

.search-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--dark-dark-light-minty-green);
    padding: 2px 10px;
    gap: 2px;
    border-radius: 5px;
}

.percent {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #61736E;
}

.nav-button-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-button {
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    border-radius: 5px;
}

.nav-button>img {
    pointer-events: none;
}

.nav-button>img {
    width: 15px;
}

.nav-button:hover {
    background: var(--dark-minty-green-hover);
}

.nav-container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.menu-links {
    opacity: 0.5;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0;
    outline: solid 0px var(--dark-dark-light-minty-green);
    background: #00000000;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    width: 39px;
    height: 29px;
    border-radius: 5px;
}

.menu-links:hover {
    opacity: 1;
    outline: solid 1px var(--dark-dark-light-minty-green);
    background: var(--dark-minty-green-hover);
}

.menu-links>.link-container {
    height: 0px;
    width: 0px;
    padding: 0;
    overflow: hidden;
}

.menu-links:hover>.link-container {
    height: 115px;
    width: 170px;
    padding: 5px;
}

.icon {
    width: 27px;
    position: inherit;
    pointer-events: none;
    margin-top: 5px;
    margin-left: 9px;
    z-index: 1;
}

.icon>img {
    width: 19px;
}

#search {
    width: 100%;
    opacity: 0.3;
    background: 0;
    color: var(--dark-dark-light-minty-green);
    border: 0;
    outline: solid 1px var(--dark-dark-light-minty-green);
    border-radius: 5px;
    position: absolute;
    display: inline-flex;
    padding-left: 35px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#search:hover {
    opacity: 1;
    background: var(--dark-minty-green-hover);
}

#search:focus,
#search:hover {
    opacity: 1;
    border: 0;
    color: var(--light-minty-green);
    outline: solid 1px var(--dark-dark-light-minty-green);
    padding-left: 45px;
    background: var(--dark-minty-green-hover);
}

#search:focus~.icon,
#search:hover~.icon {
    width: 120px;
    margin-left: 15px;
}

#search::-webkit-input-placeholder {
    color: var(--dark-dark-light-minty-green);
}

#search::-webkit-search-cancel-button {
    display: none;
}

.search-container {
    position: relative;
    display: flex;
    height: 29px;
    align-items: center;
}

.login-button {
    padding: 8px 20px;
    border: 1px solid #90A9A3;
    border-radius: 5px;
    background: transparent;
    color: var(--dark-dark-light-minty-green);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.login-button:hover {
    background: var(--dark-minty-green-hover);
}

.image-slide {
    background-size: cover;
    height: 230px;
    background-position: 0 60%;
    animation: animSlide 30s infinite;
}


@keyframes animSlide {
    0% {
        background-position: 0 60%;
    }

    50% {
        background-position: 0 30%;
    }

    100% {
        background-position: 0 60%;
    }
}

.slideshow-counteiner {
    overflow: hidden;
    height: 280px;
    background: var(--dark-minty-green);
    border-radius: 10px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
}

.slide-map-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 0 67px 30px;
    justify-content: flex-end;
    flex-flow: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.slide-song-info {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.slide-storyb {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    gap: 5px;
}

.control-slide-container {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 4px;
    justify-content: space-between;
}

.dots-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dot {
    cursor: pointer;
    height: 5px;
    width: 15px;
    border-radius: 5px;
    background: var(--light-minty-green);
}

.dot:hover {
    background: var(--minty-green);
}

.active {
    height: 10px;
    width: 20px;
    background: var(--minty-green);
}

.card:hover .arrow {
    opacity: 1;
}

.arrow {
    opacity: 0;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    width: 60px;
    border: 0;
    background: transparent;
    justify-content: center;
}

.arrow:hover {
    width: 80px;
    background: #00000033;
}

.card {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 4s;
    animation-name: slide;
    animation-duration: 4s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.middle-content {
    gap: 30px;
    display: flex;
}

.middle-left-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;
}

.middle-right-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 490px;
    min-width: 490px;
}

.showcase-block {
    overflow: hidden;
    border-radius: 10px;
    height: 363px;
    background: var(--dark-minty-green);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
}

.showcase-block>iframe {
    width: -webkit-fill-available;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px 25px;
}

.overview-container {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 400px 20px 65px;
    gap: 14px;
    background: var(--dark-minty-green);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
    border-radius: 10px;
    overflow: hidden;
}

.overview-mascot {
    width: 356px;
    height: 427px;
    bottom: 0px;
    top: 0;
    right: 0;
    background: url(.././staticV2/img/mascot.png), no-repeat;
    transform: translate(-36px, -140px) rotate(7deg);
    position: absolute;
}

.title-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.update-post {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background: var(--dark-minty-green);
    border-radius: 10px;
    gap: 16px;
}

.flex-post {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.info-post {
    display: flex;
    justify-content: space-between;
}

.name-post {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.data-post {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #6D7976;
    padding: 3px 20px;
    background: #00000033;
    border-radius: 10px;
}

.by-post {
    display: flex;
    gap: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 13px;
    color: var(--light-minty-green);
}

.user-post {
    color: #b2cfc6;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
}

.text-post {
    color: var(--light-minty-green);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.content-block,
.overview-block {
    background: #3C4745;
    border-radius: 10px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--light-minty-green);
}

.now-play-title {
    color: var(--light-minty-green);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    gap: 5px;
}

.overview-description {
    color: var(--light-minty-green);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.load-button {
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: var(--dark-minty-green);
    color: var(--light-minty-green);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border: 0;

}

.load-button:hover {
    background: var(--dark-minty-green-hover);
    transform: scale(1.01) !important;
}

.load-button:active {
    transform: scale(0.99) !important;
}

.storyb-card-small {
    border-radius: 10px;
    display: flex;
    padding: 0px 24px 0px 0px;
    gap: 24px;
    outline: 1px solid transparent;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.07));
}

.storyb-card-small:hover {
    transform: scale(0.98);
    outline: 1px solid var(--dark-dark-light-minty-green);
}

.card-img {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.outline {
    outline: 0.2px solid transparent;
}

.outline:hover {
    transform: scale(1.01);
    /* outline: 1px solid #969696; */
}

.card-hosted {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    text-align: end;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.card-osb-lvl {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    text-align: end;
}

.info-content {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.card-name-song {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: var(--light-minty-green);
}

.card-storyb {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    color: var(--dark-dark-light-minty-green);
    background: var(--dark-minty-green);
}

.nav-user-profile {
    position: relative;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    outline: 1px solid var(--outline);
    border: 0;
    padding: 0;
    margin: 0;
}

.nav-user-profile:hover {
    outline: 1px solid var(--light-minty-green);
}

.nav-user-profile>img {
    width: 35px;
    border-radius: 5px;
}